---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import SocialLink from "@/components/SocialLink.astro";
import Card from "@/components/Card.astro";
import Photos from "@/components/Photos.astro";
import Resume from "@/components/Resume.astro";

import { GitHubIcon, LinkedInIcon } from "@/assets/icons/SocialIcons";
---

<Layout title="Răzvan Balota">
  <Container>
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl"
    >
      Software engineer.
    </h1>
    <p class="mt-6 text-base text-zinc-400">
      I’m Răzvan, an enthusiastic software engineer passionate about writing
      clean code and solving complex problems.
    </p>
    <div class="mt-6 flex gap-6">
      <SocialLink  
        href="https://github.com/RazvanBalota" 
        aria-label="GitHub"
      >
        <GitHubIcon
          className="h-6 w-6 transition fill-zinc-400 group-hover:fill-zinc-300"
        />
      </SocialLink>
      <SocialLink
        href="https://www.linkedin.com/in/razvan-balota/"
        aria-label="LinkedIn"
      >
        <LinkedInIcon
          className="h-6 w-6 transition fill-zinc-400 group-hover:fill-zinc-300"
        />
      </SocialLink>
    </div>
  </Container>
  <Photos />
  <Container class="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        <Card /><Card /><Card />
      </div>
      <div class="lg:pl-16 xl:pl-24">
        <Resume />
      </div>
    </div>
  </Container>
</Layout>
