---
import clsx from "clsx";

const variantStyles = {
  primary:
    "font-semibold bg-zinc-700 hover:bg-zinc-600 active:bg-zinc-700 active:text-zinc-100/70",
  secondary:
    "font-medium bg-zinc-800/50 text-zinc-300 hover:bg-zinc-800 hover:text-zinc-50 active:bg-zinc-800/50 active:text-zinc-50/70",
};

type Props = {
  variant: keyof typeof variantStyles;
  classes?: string;
  href: string;
} & astroHTML.JSX.AnchorHTMLAttributes;

const { variant, classes, href } = Astro.props;
---

<a
  {... Astro.props}
  href={href}
  class={clsx(
    `inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none`,
    variantStyles[variant],
    classes
  )}
>
  <slot />
</a>
