---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";

type Props = {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full bg-black sm:px-8">
    <div class="mx-auto max-w-7xl bg-zinc-900 ring-1 ring-zinc-300/30">
      <Header client:only="react" />
      <slot />
      <Footer />
    </div>
  </body>
